.git
.npm-cache
.pytest_cache
artifacts
data/*
dist
node_modules
backend/__pycache__
backend/tests/__pycache__
**/__pycache__
*.py[codz]

.env
.env.*
**/.env
**/.env.*

**/terraform.tfstate*
**/*.tfplan
**/.terraform/
